@page  {
    margin: 60;
}

.logo {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.detail-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    border-style: none;
    font-size: 17px;


}

.detail-table thead {
    background-color: $ORCOLOUR;
    color: $ORTEXTCOLOUR;
    text-align: left;
    font-size: 17px;
}

.detail-table thead th {
    padding: 5px;
    font-weight: bold;
    font-size: 17px;
}

.detail-table td {
    border: 0px solid #ccc;
    border-style: none;
    padding: 5px;
    font-size: 17px;
}

td>span {
    font-size: 11px !important;
}

.styled-table thead tr th:first-child {
    width: 28em;
    min-width: 28em;
    max-width: 28em;
    word-break: break-word;

}

.styled-table thead tr th:nth-child(2) {
    width: 8em;
    min-width: 8em;
    max-width: 8em;
    word-break: break-word;

}

.styled-table thead tr th:nth-child(3) {
    width: 8em;
    min-width: 8em;
    max-width: 8em;
    word-break: break-word;

}

.styled-table thead tr th:nth-child(4) {
    width: 8em;
    min-width: 8em;
    max-width: 8em;
    word-break: break-word;

}

.styled-table thead tr th:nth-child(5) {
    width: 8em;
    min-width: 8em;
    max-width: 8em;
    word-break: break-word;

}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size:  16px
    font-family: Poppins, sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: $ORCOLOUR;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: red !important;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid $ORCOLOUR;
}
